# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.env

# Vector DB / FAISS / Chroma
data/faiss_index/
data/faiss_index_backup_*/
vectordb/chroma_db/
*.faiss
*.pkl
*.sqlite3

# Pipeline artifacts
data/input/
data/*.json

# Logs
*.log

# VS Code
.vscode/